{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="container d-inline-flex" style="height:600px">
			<div class="col-3 h-100 bg-primary">
				<h4 class="text-center text-light p-3"></h4>
			</div>
			<div class="col-9 h-100 bg-light">
				<div class="h-100 p-3" style="overflow-x:hidden;overflow-y:scroll">
               
                    
                
					{% for messagePrive in app.user.received|reverse %}
						<div class="bg-white mb-3">
							<div><b>{{messagePrive.expediteur.prenom}} {{messagePrive.expediteur.nom}}</b></div>

							<div>{{messagePrive.contenu}}</div>
							<div>
								<small>{{messagePrive.date | date('d/m/Y à H:i')}}</small>
							</div>


						</div>
					{% endfor %}
                    
                    {% for messagePrive in app.user.sent %}
						<div class="bg-white mb-3">
							<div><b>{{messagePrive.expediteur.prenom}} {{messagePrive.expediteur.nom}}</b></div>

							<div>{{messagePrive.contenu}}</div>
							<div>
								<small>{{messagePrive.date | date('d/m/Y à H:i')}}</small>
							</div>


						</div>
					{% endfor %}

      
                    
                
				</div>

				{{form_start(formMessagePrivee)}}
				<div class="input-group mb-0">
					{{ form_widget(formMessagePrivee.contenu, { 'attr': {
                                'placeholder': 'Ecrivez votre message ...'} }) 
                            }}

					{{ form_widget(formMessagePrivee.envoyer, { 'label': 'Envoyer' }) }}
				</div>
				{{form_end(formMessagePrivee)}}

			</div>
		</div>
	</div>

{% endblock %}
